package org.fidata.packer.engine.ast


import org.fidata.packer.engine.annotations.AutoImplement
import org.codehaus.groovy.ast.ClassNode
import org.fidata.packer.engine.testfixtures.AstTransformationAssert
import groovy.transform.ASTTest

@ASTTest(phase = $compilePhase, value = {
  AstTransformationAssert.assertAstTransformation($compilePhase, new URL($expectedUrl), (ClassNode)node, AutoImplement)
})
